<main class="text-center">
  <form action="/" method="post">
    <select name="category" id="category" class="mb-3 mx-3" style="width: 400px; height: 30px;" required>
      {{#if selectedCategory}}
      <option value="0" selected disabled>類別</option>
      {{#each otherCategory}}
      <option value="{{this.name}}" {{this.selected}}>{{this.name}}</option>
      {{/each}}
      {{else}}
      <option selected>類別</option>
      {{#each category}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
      {{/if}}
    </select>
  </form>
  <div class="mt-3 d-flex flex-row justify-content-evenly">
    <h5>總金額：</h4>
      <h2>{{totalAmount}}</h2>
  </div>
  <table>
    {{#each records}}
    <tr>
      <td><i class="{{this.icon}}" style="color: #61CECD "></i></td>
      <td>{{this.name}}<br>{{this.date}}/td>
      <td>${{this.amount}}</td>
      <td>
        <a href="./records/{{this._id}}/edit">編輯</a>
      </td>
      <td>
        <a href="./records/{{this._id}}/delete">刪除</a>
      </td>
    </tr>
    {{/each}}
  </table>
  <div class="d-grid gap-2 d-md-block">
    <a href="./records/new" class="btn btn-warning">新增支出</a>
  </div>
</main>