<main class="text-center">
  <form action="/category" method="GET">
    <div class="form-group mb-3  mt-5">
      <select class="form-select fs-3" onchange="form.submit()" id="category_id" name="category_id">
        <option value="all" {{#if all}} selected {{/if}}>全部分類</option>
        {{#each category}}
        <option value="{{this._id}}" {{#if this.boolean}} selected {{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </form>
  <div class="mt-3 d-flex flex-row justify-content-evenly">
    <h5>總金額：</h4>
      <h2 style="color:orangered">${{totalAmount}}</h2>
  </div>
  <table>
    {{#each records}}
    <li class="list-group-item d-flex">
      <div class="col-1 d-flex justify-content-center align-items-center">
        <i class="fa-solid {{this.categoryId.icon}} fa-2xl" style="color: #61CECD "></i>
      </div>
      <div class="col-6 d-flex flex-column">
        <span class="fs-4 fw-bold">{{this.name}}</span>
        <span class="fs-6 fw-light">{{this.date}}</span>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <span class="fs-4 fw-bold mt-3">{{this.amount}}</span>
      </div>
      <div class="col-3 d-flex justify-content-end h-60 my-2">
        <a href="/records/{{this._id}}/edit" class="btn btn-success me-2">編輯</a>
        <form action="/records/{{this._id}}/delete?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </li>
    {{/each}}
  </table>
  <div class="d-grid gap-2 d-md-block mt-3">
    <a href="./records/new" class="btn btn-warning">新增支出</a>
  </div>
</main>